<CascadingBlazoredModal>
    <CascadingAuthenticationState>
        <ErrorBoundary @ref="errorBoundary">
            <ChildContent>
                <Router AppAssembly="@typeof(App).Assembly">
                    <Found Context="routeData">
                        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
                    </Found>
                    <NotFound>
                        <PageTitle>Not found</PageTitle>
                        <LayoutView Layout="@typeof(MainLayout)">
                            <p role="alert">Sorry, there's nothing at this address.</p>
                        </LayoutView>
                    </NotFound>
                </Router>
            </ChildContent>
            <ErrorContent>
                <div style="display: flex; justify-content: center; align-items: center; height: 100vh; font-size: 2em;">
                    <p>Oops! Something went wrong. Go back to the main page.</p>
                </div>
            </ErrorContent>
        </ErrorBoundary>
    </CascadingAuthenticationState>
</CascadingBlazoredModal>

@code {
    ErrorBoundary errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}